option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: smart_home/wsgi.py
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "smart_home.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:environment:process:default:
    MatcherHTTPCode: "200-499"
